@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Display", sans-serif;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

body {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Optional for full viewport height */
}

section {
  padding: 2rem 9%;
}
nav {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-left: 60px;
  margin-right: 60px;
}

nav img {
  width: 200px;
  height: 100px;
  margin-right: 20px;
  margin-top: 20px;
}

nav a.logo {
  font-size: 20px;
  color: black;
  font-weight: 400;
}

nav .links a:not(:last-child) {
  margin-right: 20px;
}

nav .links a {
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  color: #000;
}

nav .links a:hover,
nav .links a.active {
  color: #cda274;
}

nav .links a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #cda274;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.secondNav {
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

.cartLinks {
  padding: 0 80px;
  height: 100px;
  margin-right: 60px;
}

.cartLinks a {
  color: #000;
}

.secondNav .cartLinks a:not(:last-child) {
  margin-right: 20px;
  font-weight: 0px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background: url(media/homeBanner.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
  width: 600px;
}

.home .content h3 {
  font-size: 40px;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 10px;
}
